<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container-fluid">
      <!-- row -->
      <div class="row">
  
        <!-- section title -->
        <div class="col-md-12">
            <hr>
            <div class="section-title" *ngIf="products.length < 1">
              <h5 style="text-align: center;">No "{{prod}}" Related Products Found {{products.length}}</h5>
              <h6 style="text-align: center;color: red;">{{products.length}} Result Found</h6>
            </div>
          <div class="section-title" *ngIf="products.length > 0">
            <h5 style="text-align: center;">Products Related to "{{prod}}"</h5>
            <h6 style="text-align: center;color: green;">{{products.length}} Results Found</h6>
          </div>
          
          <hr>
        </div>
      </div>

        <!-- /section title -->
  
        <!-- Products tab & slick -->
        
        <div class="col-md-12">
          <h6>Types of {{prod}}</h6>
            <div class="row">
              <div class="col-md-3 col-sm-6" *ngFor="let sc of subCategories.sub_categories">
                <div class="my-2 prod-highlight">
                  <a routerLink="/product-search/{{prod}}/{{sc.name}}"><span style="color:#24ADF3">{{sc.name}}</span> (212)</a>
                </div>
              </div>
            </div>
            </div>
            <hr>
      <!-- <div class="row" id="filter-container">
          <div class="col-sm-3">
            <br>
            <div class="form-group">
              <b>Manufacturer:</b><br>
              <input type="text" placeholder="Search.." id="myInput" onkeyup="filter()">
            <select size="9" class="drop-menu" id="myDropdown" >
              <option>(JEC)</option>
<option>AISHI(Aihua Group)</option>
<option>APAQ Tech</option>
<option>ATC</option>
<option>AVX</option>
<option>Abracon LLC</option>
<option>BERYL Electronic Tech</option>
<option>Bennic</option>
<option>CCTC</option>
<option>CDE</option>
<option>CEC(Shenzhen Zhenhua XinYun Elec)</option>
<option>CHAMPION</option>
<option>CJE</option>
<option>CRC</option>
<option>CX(Dongguan Chengxing Elec)</option>
<option>CY(Changzhou Chaoyin Elec)</option>
<option>Capxon International Elec</option>
<option>Card Sockets</option>
<option>Carli</option>
<option>Changzhou Huawei Elec</option>
<option>Chinocera</option>
<option>DAIN Elec</option>
<option>DMBJ</option>
<option>DMEGC</option>
<option>Darfon Elec</option>
<option>Dersonic</option>
<option>ELNA</option>
<option>EYANG(Shenzhen Eyang Tech Development)</option>
<option>FH(Guangdong Fenghua Advanced Tech)</option>
<option>FH-LH.Nova</option>
<option>FUJITSU</option>
<option>GDHY</option>
<option>Guangdong TOPAZ Elec Tech</option>
<option>Guoguang Elec Sci-tech</option>
<option>HEADCON</option>
<option>HEAO</option>
<option>HUI JU</option>
<option>Hongzhi Elec</option>
<option>Honor Elec</option>
<option>Hunan Xiangyee in S&amp</option>
<option>IHHEC(HOLY STONE ENTERPRISE CO., LTD)</option>
<option>JEC</option>
<option>JIERONG</option>
<option>JML</option>
<option>Jimson</option>
<option>Johanson Dielectrics</option>
<option>KEMET</option>
<option>KFSON</option>
<option>KNSCHA</option>
<option>KS</option>
<option>KYET</option>
<option>Knowles</option>
<option>Kyocera</option>
<option>LCSC</option>
<option>LY</option>
<option>Lelon</option>
<option>Made in China</option>
<option>Man Yue Tech</option>
<option>Matsuo</option>
<option>Murata Electronics</option>
<option>NCC(Nippon Chemi-Con)</option>
<option>NDF</option>
<option>NISSEI</option>
<option>Nantong Jianghai Capacitor</option>
<option>Nichicon</option>
<option>Nistronics</option>
<option>PANASONIC</option>
<option>PSA(Prosperity Dielectrics)</option>
<option>ROHM Semicon</option>
<option>ROQANG</option>
<option>Rubycon</option>
<option>SAMXON</option>
<option>SANYEAR</option>
<option>SEI(Stackpole Elec)</option>
             
            </select>

            </div>
            <br>
            <button class="btn-primary" id="apply-btn">Apply</button>
            &nbsp;&nbsp;&nbsp;
        <input type="checkbox" name="deals" value="deals" class="btn btn-primary">
        <label for="Deals"> Deals</label>
        <br><br>
         </div>

         <div class="col-sm-9">
           <br>
            <div class="form-group">
              <b>Package:</b><br>
              <input type="text" placeholder="Search.." id="myInput" onkeyup="filter()"><br>
            <select size="9" class="drop-menu" id="myDropdown" >
              <option>0.055inch*0.055inch</option>
              <option>0.11inch*0.11inch</option>
              <option>008004</option>
              <option>01005</option>
              <option>0201</option>
              <option>0202</option>
              <option>0204</option>
              <option>0306</option>
              <option>0402</option>
              <option>0402 (1005 Metric)</option>
              <option>0402_x4</option>
              <option>0502</option>
              <option>0504</option>
              <option>0505</option>
              <option>0508</option>
              <option>0511</option>
              <option>0602</option>
              <option>0603</option>
              <option>0603_x4</option>
              <option>0603x4</option>
              <option>0606</option>
              <option>0611</option>
              <option>0612</option>
              <option>0805</option>
              <option>0810</option>
              <option>0815</option>
              <option>0820</option>
              <option>0905</option>
            </select>

           
            </div>
            <br>
            <input type="checkbox" name="instock" value="instock" class="btn btn-primary">
            <label for="Deals"> In Stock</label> &nbsp;&nbsp;&nbsp;
            <br><br>
            </div>
            <div class="col-md-3">

            </div>
           
        </div> -->
        <br>
        <!-- <div class="row">
          <div class="col-md-2">
            <h5>Result : {{products.length}}</h5>
          </div>
          <div class="col-md-3">
            <h5><input type="checkbox" name="smartFilter" value="smart" class="btn btn-primary" checked>
            <label for="Smart"> Smart Filtering</label></h5>
          </div>
          <div class="col-md-4">

          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" onkeyup="filterTable()" name=" filter_field" id="search-input" placeholder="Filter within Results">
          </div>
        </div> -->
        
       <div class="row">
           <div class="col-md-12" *ngIf="products.length > 0">
            <br>
            <div class="row">
              <div class="col-md-12">
                <h6>Available {{prod}}</h6>
              </div>
            </div>
            <div class="row">
              <!-- ........................working here -->
              <div class="col-md-3 col-sm-6" *ngFor="let p of products">
                <div class="card my-2">
                  <img src="{{serverURL2+'/'+p.image}}" alt="{{p.name}}" width="200px;" class="card-img-top" style="cursor: pointer;" (click)="selectProduct(p.id)">
                  <div class="card-header">
                    <div class="card-title">
                      <p>{{p.name.substr(0,30)}} ...</p>
    
                    </div>
                  </div>
                  <!-- ................................. -->
                  <div class="card-body">
                    {{p.description.substr(0,25)}} ... <br>
                    <span class="badge badge-warning">{{p.price | currency: 'KES '}}</span>
    
                  </div>
    
                  <div class="row d-flex justify-content-center border-primary my-3">
                    <div class="col-md-6">
                      <button class="btn btn-outline-primary btn-sm btn-block"
                              [class.disabled]="p.quantity < 1"
                              [class.btn-outline-danger]="p.quantity < 1"
                               (click)="AddToCart(p.id)"
                              >
                        {{p.quantity < 1 ? "No Stock" : "Add To Cart" }}
                      </button>
                    </div>
    
                  </div>
    
                </div>
              </div>
            </div>
           </div>

       </div>  
</div>
    <!-- /container -->
    
  