<div class="container-fluid register">
    <div class="row">
        <div class="col-md-3 register-left">

            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h5>Welcome</h5>
            <p>We deliver your orders within the time frame</p>
            <a routerLink="/login"><input type="submit" name="" value="Login"/></a>
                <br/>
        </div>
        <div class="col-md-9 register-right">
        <form #myform="ngForm">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h6 class="register-heading">Register to Our Services</h6>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="fname" id="fname" [(ngModel)]="fname"  placeholder="First Name *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="lname" id="lname" [(ngModel)]="lname" placeholder="Last Name *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email" [(ngModel)]="email" placeholder="Email *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" name="phoneNumber" id="phoneNumber" [(ngModel)]="phoneNumber"  placeholder="Phone Number e.g 2547********" value="" />
                            </div>
                           
                            <div class="form-group">
                                <input type="password" name="password1" name="password1" class="form-control" [(ngModel)]="password1"  placeholder="Password *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" name="password2" name="password2" class="form-control" [(ngModel)]="password2"  placeholder="Confirm Password *" value="" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                Country
                                <select class="form-control" id="country" name="country" [(ngModel)]="country">
                                    <option value="">---Select---</option>
                                    <option>Kenya</option>
                                </select>
                            </div>
                            <div class="form-group">
                               Home County
                                <select class="form-control" id="county" name="county" [(ngModel)]="county">
                                    <option value="">---Select---</option>
                                    <option *ngFor="let c of counties">
                                      {{c.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                    
                                <input type="text" class="form-control" placeholder="Your Sub County" id="sub_county" name="sub_county" [(ngModel)]="sub_county">
                            </div>
                            <div class="form-group">
                                <input type="text" name="city" id="city" class="form-control" [(ngModel)]="city" placeholder="Your City *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="postal_address" id="postal_address" [(ngModel)]="postal_address" class="form-control" placeholder="Your Postal Address *" value="" />
                            </div>
            
                            <input type="submit" class="btnRegister" (click)="registerAccount(myform)"  value="Register"/>
                        </div>
                    </div>
                </div>
                
            </div>
        </form> 
        </div>
    </div>

</div>


