  #login .container #login-row #login-column #login-box {
    max-width: 600px;
    min-height: 320px;
    border:  #9C9C9C;
    background-color: #EAEAEA;
    margin-bottom: 60px;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }