<ngx-spinner
  bdColor="rgba(151,149,149,0.4)"
  size="large"
  color="#24ADF3"
  type="ball-clip-rotate-pulse"
  fullScreen="true"
>
  <br><br>
  <p style="font-size: 20px; color:#24ADF3">Placing Order, Please Wait...</p>
</ngx-spinner>
<!-- SECTION -->
<div class="section" *ngIf="cartTotal > 0">
  <!-- container -->
  
  <div class="container-fluid">
    <!-- row -->
  <form role="form" #addressForm="ngForm" (ngSubmit)=onSubmit(addressForm.value)>
    <div class="row">

      <div class="col-md-7">
        <!-- Billing Details -->
        <div class="billing-details">
          <div class="section-title">
            <h5 class="title">Billing address</h5>
          </div>
          <div class="form-group">
            Name:
            <input type="text" class="form-control" value="{{details.fname + ' ' + details.lname}}" disabled>
          </div>
          <div class="form-group">
            Email:
            <input type="text" class="form-control" value="{{myUser.email}}"disabled>
          </div>
          <div class="form-group">
            Phone Number:
            <input class="input form-control" type="text" name="phone" ngModel placeholder="Enter Phone Number" required>
          </div>
          <div class="form-group">
            <label>County:</label>
            <select class="form-control" name="county" ngModel required>
              <option >{{details.county}}</option>
              <option *ngFor="let c of counties">
                {{c.name}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>Sub County:</label>
            <input class="input form-control" type="text" name="subCounty" ngModel  required placeholder="Enter Sub County">
          </div>
          <div class="form-group">
            <label>City:</label>
            <input class="input form-control" type="text" name="city" ngModel placeholder="Enter Neaby City/Town" required>
          </div>
          <div class="form-group">
            <label>Postal Address:</label>
            <input class="input form-control" type="text" name="postal" ngModel placeholder="Enter Postal Address" required>
          </div>
          <div class="form-group">
            Belief Description of Your Location
            <textarea class="form-control" name="descr" ngModel required></textarea>
          </div>
        </div>
        
      </div>

      <!-- Order Details -->
      <div class="col-md-5 order-details">
        <div class="section-title text-center">
          <h3 class="title">Your Order</h3>
        </div>
        <div class="order-summary">
          <div class="order-col">
            <div><strong>PRODUCT</strong></div>
            <div><strong>TOTAL (KES)</strong></div>
          </div>
          <div class="order-products" *ngFor="let c of cartData.data">
            <div class="order-col">
              <div>{{c.numInCart}}x {{c.product.name}}</div>
              <div>{{c.product.price * c.numInCart}}</div>
            </div>
          </div>
          <div class="order-col">
            <div>Shiping</div>
            <div><strong>FREE</strong></div>
          </div>
          <div class="order-col">
            <div><strong>TOTAL</strong></div>
            <div><strong class="order-total">{{cartTotal | currency: 'KES '}}</strong></div>
          </div>
        </div>
        <div class="payment-method">
          <div class="input-radio">
            <input type="radio" name="payment" id="payment-1">
            <label for="payment-1">
              <span></span>
              MPESA
            </label>
            <div class="caption">
              <p>Paybill and account number coming soon..</p>
            </div>
          </div>
          <div class="input-radio">
            <input type="radio" name="payment" id="payment-2">
            <label for="payment-2">
              <span></span>
              Direct Bank Deposit
            </label>
            <div class="caption">
              <p>We have not yet activated this payment method try a different one</p>
            </div>
          </div>
          <div class="input-radio">
            <input type="radio" name="payment" id="payment-3">
            <label for="payment-3">
              <span></span>
              Paypal System
            </label>
            <div class="caption">
              <p>We have not yet activated this payment method try a different one</p>
            </div>
          </div>
        </div>
        <div class="input-checkbox">
          <input type="checkbox" id="terms">
          <label for="terms">
            <span></span>
            I've read and accept the <a href="#">terms & conditions</a>
          </label>
        </div>
        <button type="submit" class="btn btn-outline-danger btn-sm my-2 btn-block order-submit" id="btn-place-order"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Place order</button>
      </div>
      <!-- /Order Details -->
    </div>
    <!-- /row -->
  </form>
  </div>
  
  <!-- /container -->
</div>
<!-- /SECTION -->
<div class="text-center my-5" *ngIf="cartData.total <=0;">
  <h4>Your cart is empty</h4>
  <button class="btn btn-primary btn-lg mt-3" routerLink="/">GO TO SHOP</button>
</div>

